<footer class="main-footer">
    <strong>Copyright &copy;<a href="#">WeAreNear</a>.</strong> All rights reserved.
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/transition.min.js"></script>
<!-- <script src="/js/collapse.js"></script> -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/propeller.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/select2.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>