<footer class="main-footer">
    <strong>Copyright &copy;<a href="#">WeAreNear</a>.</strong> All rights reserved.
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/select2.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>